Repository SkillsFundingAgency/das-reservations, pull requests merged in 2019-03, with the labels that each got.

#13 Mf 106 display unknown when course not selected
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Queries/GetCourses/WhenGettingCourses.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetReservation/GetReservationQueryHandler.cs
  src/SFA.DAS.Reservations.Domain.UnitTests/Courses/WhenCreatingACourse.cs
  src/SFA.DAS.Reservations.Domain/Courses/Course.cs
  src/SFA.DAS.Reservations.Web/Views/Reservations/Confirmation.cshtml
Labels: Ready for Test

#16 MF-104
  src/SFA.DAS.Reservations.Web/Views/Reservations/Review.cshtml
Labels: Ready for Test, question

#20 Mf 105 display employer name on confirmation page
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Queries/GetReservation/WhenGettingAReservation.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetReservation/GetReservationQueryHandler.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetReservation/GetReservationResult.cs
  src/SFA.DAS.Reservations.Domain/Reservations/Api/GetReservationResponse.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingGetConfirmation.cs
  src/SFA.DAS.Reservations.Web/Controllers/ReservationsController.cs
  src/SFA.DAS.Reservations.Web/Models/ConfirmationViewModel.cs
  src/SFA.DAS.Reservations.Web/Views/Reservations/Confirmation.cshtml
Labels: Blocked by API, Ready for Test

#18 MF-78 change details
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Commands/WhenCreatingANewReservation.cs
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Commands/WhenDeletingACachedReservation.cs
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Commands/WhenValidatingACreateReservationCommand.cs
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Queries/WhenGettingAReservationFromCache.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/CreateReservationCommand.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/CreateReservationCommandHandler.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/DeleteCachedReservationCommand.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/DeleteCachedReservationCommandHandler.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetCachedReservationResult.cs
  src/SFA.DAS.Reservations.Domain/Courses/Course.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Models/WhenConstructingACourseViewModel.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Models/WhenConstructingAStartDateViewModel.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingGetApprenticeshipTraining.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingGetReview.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingPostCreate.cs
  src/SFA.DAS.Reservations.Web/Controllers/ReservationsController.cs
  src/SFA.DAS.Reservations.Web/Models/ApprenticeshipTrainingViewModel.cs
  src/SFA.DAS.Reservations.Web/Models/CourseViewModel.cs
  src/SFA.DAS.Reservations.Web/Models/ReviewViewModel.cs
  src/SFA.DAS.Reservations.Web/Models/StartDateViewModel.cs
  src/SFA.DAS.Reservations.Web/Views/Reservations/ApprenticeshipTraining.cshtml
  src/SFA.DAS.Reservations.Web/Views/Reservations/Confirmation.cshtml
  src/SFA.DAS.Reservations.Web/Views/Reservations/Review.cshtml
  src/SFA.DAS.Reservations.Web/Views/Shared/_CourseSearch.cshtml
  src/SFA.DAS.Reservations.Web/Views/Shared/_Layout.cshtml
Labels: Ready for Test

#24 Mf 113 feature toggle
  azure/template.json
  src/SFA.DAS.Reservations.Web.UnitTests/Filters/WhenIToggleAFeature.cs
  src/SFA.DAS.Reservations.Web/Controllers/HomeController.cs
  src/SFA.DAS.Reservations.Web/Filters/FeatureToggleActionFilter.cs
  src/SFA.DAS.Reservations.Web/Startup.cs
  src/SFA.DAS.Reservations.Web/Views/Home/FeatureNotAvailable.cshtml
  src/SFA.DAS.Reservations.Web/Views/ProviderReservations/ChooseEmployer.cshtml
  src/SFA.DAS.Reservations.Web/appsettings.json
Labels: Ready for Test

#26 MF-107 add apprentice link
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Commands/WhenCreatingANewReservation.cs
  src/SFA.DAS.Reservations.Application.UnitTests/Reservations/Queries/GetReservation/WhenGettingAReservation.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/CacheCreateReservationCommand.cs
  src/SFA.DAS.Reservations.Application/Reservations/Commands/CreateReservationCommandHandler.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetCachedReservation/GetCachedReservationResult.cs
  src/SFA.DAS.Reservations.Application/Reservations/Queries/GetReservation/GetReservationQueryHandler.cs
  src/SFA.DAS.Reservations.Domain/Reservations/Api/GetReservationResponse.cs
  src/SFA.DAS.Reservations.Infrastructure/Configuration/Configuration/ReservationsWebConfiguration.cs
  src/SFA.DAS.Reservations.Models/Reservation.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Models/WhenGettingTheConfirmationViewModel.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Providers/WhenConfirmingAnEmployer.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingGetConfirmation.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingGetReview.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingPostApprenticeshipTraining.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingPostConfirmation.cs
  src/SFA.DAS.Reservations.Web.UnitTests/Reservations/WhenCallingPostCreate.cs
  src/SFA.DAS.Reservations.Web/Controllers/HomeController.cs
  src/SFA.DAS.Reservations.Web/Controllers/ProviderReservationsController.cs
  src/SFA.DAS.Reservations.Web/Controllers/ReservationsController.cs
  src/SFA.DAS.Reservations.Web/CoreFix/CurrentDirectoryHelpers.cs
  src/SFA.DAS.Reservations.Web/Infrastructure/RouteNames.cs
  src/SFA.DAS.Reservations.Web/Models/ConfirmationRedirectViewModel.cs
  src/SFA.DAS.Reservations.Web/Models/ConfirmationViewModel.cs
  src/SFA.DAS.Reservations.Web/Models/ReservationsRouteModel.cs
  src/SFA.DAS.Reservations.Web/Models/ReviewViewModel.cs
  src/SFA.DAS.Reservations.Web/Program.cs
  src/SFA.DAS.Reservations.Web/Views/EmployerReservations/Index.cshtml
  src/SFA.DAS.Reservations.Web/Views/ProviderReservations/Index.cshtml
  src/SFA.DAS.Reservations.Web/Views/Reservations/Confirmation.cshtml
  src/SFA.DAS.Reservations.Web/Views/Shared/_Navigation.cshtml
Labels: Ready for Test
